.accordion{
	margin-bottom: 20px;

	@include laptop{
		margin-bottom: 30px;
	}

	&__title{
		display: flex;
		background-color: $brand-primary;
		color: $brand-light;
		align-items: center;
		justify-content: space-between;
		padding: 5px 11px;
		border-radius: 5px;

		@include laptop{
			padding: 13px 20px;
			border-radius: 10px;
		}

		p{
			margin: 0;
		}
	}

	&__content{
		background-color: $brand-primary-light;
		color: $brand-primary;
		padding: 20px 11px;
		border-radius: 10px;

		@include laptop{
			padding: 35px 20px;
		}

		p{
			margin: 0;
		}

		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&-open{
			display: block;
		}

		&-close{
			display: none;
		}
	}
}