.tags{
	display: flex;
	padding: 0;

	&__item{
		background-color: $brand-primary;
		color: $brand-light;
		padding: 2px 40px;
		list-style: none;
		border-radius: 10px;
		margin-right: 10px;

		&:last-child{
			margin-right: 0;
		}
	}
}