.main-nav{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 40px auto;

	&__list{
		display: flex;
		list-style: none;
		color: $brand-primary;

		&__item{
			margin-right: 57px;
			
			a{
				text-decoration: none;
				color: $brand-primary;

				&.is-active{
					text-decoration: underline;
				}
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}
}