.main-nav{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 40px auto;

	&__list{
		display: flex;
		list-style: none;
		color: $brand-primary;

		&__item{
			margin-right: 57px;

			&:last-child{
				margin-right: 0;
			}
		}
	}
}