.main-nav{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	@include laptop{
		max-width: 1200px;
		padding: 40px;
	}

	.app-logo{
		max-width: 150px;

		@include laptop{
			max-width: 210px;
		}
	}

	&__list{
		display: flex;
		list-style: none;
		color: $brand-primary;
		padding: 0;

		&__item{
			margin-right: 10px;

			@include laptop{
				margin-right: 57px;
			}
			
			a{
				text-decoration: none;
				color: $brand-primary;
				text-transform: uppercase;

				@include laptop{
					font-size: 24px;
					text-transform: capitalize;
				}

				&.is-active{
					text-decoration: underline;
				}
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}
}